<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqlConnection" connectionString="Data Source=DESKTOP-VF1BFT6\SQLEXPRESS1;Initial Catalog=VocesDePapelBDD;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False"
            providerName="System.Data.SqlClient" />
        <add name="SqlConnectionAgus"
            connectionString="Data Source=DESKTOP-VF1BFT6\SQLEXPRESS;Initial Catalog=VocesDePapelBDD;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False"
            providerName="System.Data.SqlClient" />
        <add name="VocesDePapelV1._1.Properties.Settings.SqlConection2"
            connectionString="Data Source=VANESA\SQLEXPRESS01;Initial Catalog=VocesDePapelBDD;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>